﻿@model Web.Models.AuthModels.LoginModel

<div class="container-fluid" style="max-width: 600px">
    <div class="card card-body bg-light">
        <form asp-action="Login" asp-controller="Auth" asp-anti-forgery="true">
            <h2 class="h3 text-success text-center font-weight-normal mb-0">Войти в аккаунт</h2>
            <br />
            <div>
                <div class="form-group">

                    <input type="email" class="form-control" placeholder="Email" required="required" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" placeholder="Пароль" required="required" asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="" style="color:#e74c3c;" asp-validation-summary="All"></div>
                <div class="row">
                    <div class="col-sm-9">
                        <a class="float-right" asp-area="" asp-controller="Home" asp-action="UserEdit" asp-route-userId="0">Регистрация</a>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" value="Войти" class="btn btn-success float-right" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>