﻿@{
    ViewData["Title"] = "Курсы";
}
@using DataLayer.Entities.Enums
@model List<DataLayer.Entities.Course>

<h2 class="text-center">Список курсов</h2>
<br />
<table class="sortable-theme-light table-responsive" data-sortable>
    <thead>
        <tr>
            <th>Название</th>
            <th>Тема</th>
            <th>Язык курса</th>
            <th>Руководитель</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var course in Model)
            {
        <tr>
            <td>
                <a asp-area="" asp-controller="Home" asp-action="CourseView" asp-route-courseId="@course.Id">@course.Name</a>
            </td>
            <td>
                @course.Subject.GetDisplayName()
            </td>
            <td>
                @course.Language.GetDisplayName()
            </td>
            <td>
                @course.TeacherName
            </td>
            <td>
                <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="CourseEdit" asp-route-courseId="@course.Id">Изменить</a>
                <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="CourseDelete" asp-route-courseId="@course.Id">Удалить</a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
<a class="btn btn-block btn-success" asp-area="" asp-controller="Home" asp-action="CourseEdit" asp-route-courseId="0">Создать курс</a>
