﻿
@{
    ViewData["Title"] = "Курс";
}

@using DataLayer.Entities.Enums
@model DataLayer.Entities.Course

<h4>@Model.Name <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="CourseEdit" asp-route-courseId="@Model.Id">Изменить</a></h4>
<hr />
<div class="row">
    <div class="col-sm-12 card card-body bg-light">
        <p>Название: @Model.Name</p>
        <p>Тема: @Model.Subject.GetDisplayName()</p>
        <p>Язык: @Model.Language.GetDisplayName()</p>
        <p>Руководитель: @Model.TeacherName</p>
    </div>
</div>
<hr />

<div class="row card card-body bg-light">
    <h5 class="text-center">Описание</h5>
    <br>
    <p>@Model.Description</p>
</div>

<hr />
<h5 class="text-center">Список участвующих</h5>
<br>
@foreach (var customer in Model.Customers)
{
    <p>@customer.FullName</p>
}
