﻿@using System.Security.Claims
@using DataLayer.Entities.Enums
@model DataLayer.Entities.Course

<div class="container-fluid" style="max-width: 600px">
    <div class="card card-body bg-light">

        <form asp-action="CourseEdit" enctype="multipart/form-data" asp-controller="Home" asp-anti-forgery="true" method="post">
            @if (Model.Id == 0)
            {
                <h2 class="h3 text-success text-center font-weight-normal mb-0">Создать курс</h2>
            }
            else
            {
                <h2 class="h3 text-success text-center font-weight-normal mb-0">Изменить курс</h2>
            }

            <div class="form-group">
                <h5>Название</h5>
                <input type="text" class="form-control" required="required" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <h5>Тема</h5>
                @Html.DropDownListFor(x => x.Subject, Html.GetEnumSelectList(typeof(SubjectEnum.Subject)), new { @class = "form-control" })
                <span asp-validation-for="Subject" />
            </div>
            <div class="form-group">
                <h5>Описание</h5>
                <textarea class="form-control content" id="content" required="required" asp-for="Description"></textarea>
                <span asp-validation-for="Description" />
            </div>
            <div class="form-group">
                <h5>Язык курса</h5>
                @Html.DropDownListFor(x => x.Language, Html.GetEnumSelectList(typeof(LangEnum.Lang)), new { @class = "form-control" })
                <span asp-validation-for="Language" />
            </div>
            <div class="form-group">
                <h5>Руководитель</h5>
                <input type="text" class="form-control" required="required" asp-for="TeacherName" />
                <span asp-validation-for="TeacherName" />
            </div>
            @*<div class="form-group">
            <h5>Время на выполнение, мин</h5>
            <input type="number" class="form-control" required="required" asp-for="EstimatedTime" />
            <span asp-validation-for="EstimatedTime" />
        </div>
        @if (User.IsInRole("Director"))
        {
            <div class="form-group">
                <h5>Исполнитель</h5>
                <select class="form-control" asp-items="@(new SelectList(ViewBag.Users, "Id","FullName"))" asp-for="UserId"></select>
                <span asp-validation-for="UserId" />
            </div>
        }
        else
        {*@
            @*}*@
            <input type="hidden" asp-for="Id" value="@Model.Id">
            @*<input type="hidden" asp-for="ProjectPostState" value="@Model.ProjectPostState">
        <input type="hidden" asp-for="SpentTime" value="@Model.SpentTime">*@
            <div class="" style="color: #e74c3c;" asp-validation-summary="All"></div>
            <div>
                <div class="form-group float-right">
                    <input type="submit" value="Ок" id="submitButton" class="btn btn-success float-right" />
                </div>
            </div>
        </form>
    </div>
</div>


