﻿@using System.Security.Claims
@using DataLayer.Entities.Enums
@model DataLayer.Entities.Customer

<div class="container-fluid" style="max-width: 600px">
    <div class="card card-body bg-light">

        <form asp-action="CustomerEdit" enctype="multipart/form-data" asp-controller="Home" asp-anti-forgery="true" method="post">
            @if (Model.Id == 0)
            {
                <h2 class="h3 text-success text-center font-weight-normal mb-0">Создать клиента</h2>
            }
            else
            {
                <h2 class="h3 text-success text-center font-weight-normal mb-0">Изменить клиента</h2>
            }

            <div class="form-group">
                <h5>ФИО</h5>
                <input type="text" class="form-control" required="required" asp-for="FullName" />
                <span asp-validation-for="FullName" />
            </div>
            <div class="form-group">
                <h5>Email</h5>
                <input type="text" class="form-control" required="required" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <h5>Дата рождения</h5>
                @if (Model.Id == 0)
                {
                    <input type="date" class="form-control" required="required" asp-for="BirthDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="BirthDate" />
                }
                else
                {
                    <input type="date" class="form-control" required="required" asp-for="BirthDate" />
                    <span asp-validation-for="BirthDate" />
                }

            </div>
            <div class="form-group">
                <h5>Номер телефона</h5>
                <input type="number" class="form-control" required="required" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" />
            </div>
            <div class="form-group">
                <h5>Является ли студентом</h5>
                Да <input type="checkbox" asp-for="IsStudent" value="true" />
                <span asp-validation-for="IsStudent" />
            </div>
            <div class="form-group">
                <h5>Выбор курса</h5>
                <select class="form-control" asp-items="@(new SelectList(ViewBag.Courses, "Id","Name"))" asp-for="CourseId"></select>
                <span asp-validation-for="CourseId" />
            </div>

            <input type="hidden" asp-for="Id" value="@Model.Id">
            <div class="" style="color: #e74c3c;" asp-validation-summary="All"></div>
            <div>
                <div class="form-group float-right">
                    <input type="submit" value="Ок" id="submitButton" class="btn btn-success float-right" />
                </div>
            </div>
        </form>
    </div>
</div>

