﻿@{
    ViewData["Title"] = "Клиенты";
}

@model List<DataLayer.Entities.Customer>

<h2 class="text-center">Список клиентов</h2>
<br />
<table class="sortable-theme-light table-responsive" data-sortable>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Email</th>
            <th>Дата рождения</th>
            <th>Номер телефона</th>
            <th>Студент</th>
            <th>Выбранный курс</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.FullName
                </td>
                <td>
                    @customer.Email
                </td>
                <td>
                    @customer.BirthDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @customer.PhoneNumber
                </td>
                <td>
                    @if (customer.IsStudent)
                    {
                        <p>Да</p>
                    }
                    else
                    {
                        <p>Нет</p>
                    }
                </td>
                <td>
                    @customer.Course.Name
                </td>
                <td>
                    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="CustomerEdit" asp-route-customerId="@customer.Id">Изменить</a>
                    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="CustomerDelete" asp-route-customerId="@customer.Id">Удалить</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<a class="btn btn-block btn-success" asp-area="" asp-controller="Home" asp-action="CustomerEdit" asp-route-customerId="0">Создать клиента</a>


