﻿@using DataLayer.Entities.Enums
@model DataLayer.Entities.User

<div class="container-fluid" style="max-width: 600px">
    <div class="card card-body bg-light">

        <form asp-action="UserEdit" enctype="multipart/form-data" asp-controller="Home" asp-anti-forgery="true" method="post">
            @if (Model.Id == 0)
            {
                <h2 class="h3 text-success text-center font-weight-normal mb-0">Регистрация</h2>
            }
            else
            {
                <h2 class="h3 text-success text-center font-weight-normal mb-0">Изменить свои данные</h2>
            }

            <div class="form-group">
                <h6>Полное имя</h6>
                <input type="text" class="form-control" required="required" asp-for="FullName" />
                <span asp-validation-for="FullName" />
            </div>
            <div class="form-group">
                <h6>Email</h6>
                <input type="email" class="form-control" required="required" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            @if (Model.Id == 0)
            {
                <div class="form-group">
                    <h6>Пароль</h6>
                    <input type="password" class="form-control" required="required" asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Password" value="@Model.Password">
            }

            <div class="form-group">
                <h6>Номер телефона</h6>
                <input type="number" class="form-control" required="required" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" />
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <div class="" style="color: #e74c3c;" asp-validation-summary="All"></div>
            <div>
                <div class="form-group float-right">
                    <input type="submit" value="Ок" id="submitButton" class="btn btn-success float-right" />
                </div>
            </div>
        </form>
    </div>
</div>

